html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Light', sans-serif;
  height: 100%;
  background-color: #b5b2b8;
}

* {
  margin: 0;
  padding: 0;
}

/* HEADER */

header{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 1%;
  background-color: rgb(167, 162, 162);
}

.logo{
  width:300px;
  position: absolute;
  left:0px

}

.wrap {
  padding: 0px 0px;
  min-height: 100%;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  /* padding: 25px 40px; */
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 260%;
  color: rgb(238, 238, 18);
  text-align: right;
  margin-bottom: 0px;
  margin-left: 40px;
}

.menu {
  display: flex;
  list-style: none;
}

.menu_item {
  position: relative;
  margin: 0px 40px;
  font-size: 100%;
}

.function {
  float: left;
  margin: 5px;
  padding: 10px;
  border: 2px solid red;
}

h3 {
  font-size: x-large;
}

ul,
ol {
  margin-left: 50px;
}

td {
  padding: 10px;
}

/* MAIN */

main {
  /* padding: 20px 40px; */
  height: 100%;
  background-color: #b5b2b8;
}

/* FOOTER */


.content {
  padding-bottom: 90px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.5);
}

/* .footer {
  background-color: #a840ff;
  position: absolute;
  width: 100%;
  height: 87px;
} */


.footer_wrap {
  padding: 1%;
  text-align: center;
}